a{
    cursor: pointer;
}


/*#region download button */
.buttonHolder {
    bottom: 5%;
    left: 3%;
    z-index: 9999;
    position: fixed;
    z-index: 1;
    cursor: pointer;
}
.button {
    background-image: -webkit-linear-gradient(top, #e1a34c, #e1a34c);
    background-image: linear-gradient(top, #e1a34c, #e1a34c);
    /* border-radius: 50%; */
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px #e1a34c, inset 0px -3px 1px 1px #e1a34c;
    float: left;
    height: 40px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 40px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.button:after {
    color: #272727;
    content: "";
    display: block;
    font-size: 20px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px #272727;
    position: relative;
    width: 30px;
}
.tick:after {
    content: "✔";
    left: 13px;
    top: 6px;
}
.button:hover {
    background-image: -webkit-linear-gradient(top, #e1a34c, #e1a34c);
    background-image: linear-gradient(top, #e1a34c, #e1a34c);
    color: #0088cc;
}

.tick:hover:after {
    color: #fff;
    transition: all 0.3s;
    text-shadow: 0px 0px 6px #83d244;
}

.button:active {
    background-image: -webkit-linear-gradient(top, #e1a34c, #e1a34c);
    background-image: linear-gradient(top, #e1a34c, #e1a34c);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0px -3px 1px 1px #e1a34c;
}

.button:active:after {
    color: #fff;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
/*#endregion download button */
